<!DOCTYPE html>
<html>

<head>
    <link href="css/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="main_titre">
        <p class="titre">Pendu</p>
        <p class="description">Choisissez votre difficulté :</p>
        <div class="selector_dificult">
            <div class="checkbox-container">
                <input type="checkbox" id="option1" name="option" value="option1">
                <label for="option1">Facile</label>

                <input type="checkbox" id="option2" name="option" value="option2">
                <label for="option2">Moyen</label>

                <input type="checkbox" id="option3" name="option" value="option3">
                <label for="option3">Difficile</label>
            </div>
        </div>
        <button class="play" id="play" role="button">Jouer</button>
    </div>

    <div class="croix" id="croix">X</div>


    <script src="js/index.js"></script>
</body>

</html>